@charset "utf-8";

@import '~@fortawesome/fontawesome-free/css/all.min.css';

// Bulma
@import "~bulma";
// @import '~bulma-quickview';
// @import "~bulma-calendar";
// @import "~bulma-tooltip";
// @import "~bulma-checkradio";
// @import "~bulma-switch";
// @import "~bulma-popover/css/bulma-popover.css";
// @import "~bulma-pageloader/dist/css/bulma-pageloader.min.css";
// @import "styles/github-gist.scss";

$primary-color: #2b2b7c;
$secondary-color : #2e88c9;
$tertiary-color : #46BDCF;

.menu-label {
    color: $primary-color;
    letter-spacing: 1.3;
    font-weight: 700;
  }

.menu-list a {
    color: $primary-color;

    &:hover {
        background-color: transparent;
        color: $secondary-color;
    }

    &.is-active {
        background-color:  $tertiary-color;
        color: $secondary-color;
        &.has-background-primary{
            background-color: $secondary-color;
          }
    }
}
