source https://api.nuget.org/v3/index.json
framework: net6.0
storage: none

nuget Fake.Core.Target
nuget Fake.DotNet.Cli
nuget Fake.Core.ReleaseNotes
nuget Fake.Tools.Git
nuget Fake.Core.UserInput
nuget Fake.DotNet
nuget Farmer

group Sqlite
  storage: none
  framework: net6.0
  source https://api.nuget.org/v3/index.json
  nuget FSharp.Core
  nuget Microsoft.Data.SqlClient
  nuget Microsoft.Data.Sqlite

group Test
  storage: none
  source https://api.nuget.org/v3/index.json
  nuget Expecto
  nuget ThrowawayDb

group Docs
    source https://api.nuget.org/v3/index.json
    framework: net6.0
    nuget Feliz.Router
    nuget Zanaptak.TypedCssClasses
    nuget Fable.SimpleHttp
    nuget Feliz.ElmishComponents
    nuget Feliz.UseDeferred
    nuget Feliz.Popover
    nuget Feliz.Markdown
    nuget Feliz.Bulma
    nuget Chia.Client