source https://api.nuget.org/v3/index.json
framework: net9.0
storage: none

nuget Fake.Core.Target
nuget Fake.DotNet.Cli
nuget Fake.Core.ReleaseNotes
nuget Fake.Tools.Git
nuget Fake.Core.UserInput
nuget Fake.DotNet
nuget Farmer

group Sqlite
    storage: none
    framework: net9.0
    source https://api.nuget.org/v3/index.json
    nuget FSharp.Core
    nuget Microsoft.Data.Sqlite

group Test
    storage: none
    source https://api.nuget.org/v3/index.json
    nuget Expecto
    nuget ThrowawayDb

group Docs
    source https://api.nuget.org/v3/index.json
    framework: net9.0
    nuget Fable.Elmish.Debugger
    nuget Fable.Mocha
    nuget Feliz.Bulma
    nuget Feliz.Router
    nuget Feliz.Markdown
    nuget Feliz.UseElmish
    nuget Feliz.DaisyUI
    nuget Feliz.Tailwind
    nuget Fake.Core.Target
    nuget Fake.DotNet.Cli
    nuget Fake.Core.ReleaseNotes
    nuget Fake.Tools.Git
    nuget Fake.Core.UserInput
    nuget Fable.Elmish.React