name: Publish

on:
  push:
    tags:
      - 'v*' # Publish on any new tag starting with v

jobs:
  build:

    strategy:
      matrix:
        os: [windows-latest]
        dotnet: [9.0.203]
    runs-on: ${{ matrix.os }}

    steps:
    - name: Checkout
      uses: actions/checkout@v4

    - name: Setup .NET Core
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: ${{ matrix.dotnet }}

    - name: Restore tools
      run: dotnet tool restore

    - name: Publish to NuGet
      run: dotnet run -- Push
      env:
        nuget-key: ${{ secrets.NUGET_KEY }}

    - name: Create Release
      uses: softprops/action-gh-release@v2
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      with:
        tag_name: ${{ github.ref }}
        name: ${{ github.ref_name }}
        body_path: ./RELEASE_NOTES.md
        draft: false
        prerelease: false
        files: build/*.nupkg
